.pub .sub_header {
  background-image: url("../imgs/design_main.png");
}

.pub .content {
  margin-top: 120px;
}

.pub_design {
  max-width: 1460px;
  min-width: 1200px;
  margin: 0 auto;
  margin-bottom: 120px;
  padding: 0 20px;
}

.pub_design .list {
  display: flex;
  gap: 30px;
  margin-top: 70px;
  text-align: center;
}

.list_title h2 {
  font-size: 30px;
  color: #8a8a8a;
  font-weight: 500;
  margin-bottom: 10px;
}

.list_title h3 {
  font-size: 60px;
  color: #31577c;
  font-weight: 500;
}

.pub_design .list li img {
  width: 100%;
  border-radius: 20px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.pub_design .list li img:hover {
  filter: brightness(50%);
  transform: scale(1.01);
}

.btns .btn3 {
  margin-top: 20px;
}

/* banner */

.banner {
  background-image: url("../imgs/mid_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 160px;
}

.banner p {
  width: 1140px;
  margin: 0 auto;
  font-size: 40px;
  color: #552a03;
  font-weight: 500;
}

/* media */

@media (max-width: 1399.98px) {
  .pub .content {
    margin-top: 60px;
  }

  .pub_design {
    width: 100%;
    min-width: initial;
    margin-bottom: 80px;
  }

  .list_title {
    text-align: center;
  }

  .list_title h2 {
    font-size: 30px;
  }

  .list_title h3 {
    font-size: 40px;
  }

  .pub_design .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .subject p:nth-child(1) {
    font-size: 36px;
  }

  .subject p:nth-child(2) {
    font-size: 24px;
  }

  .btns .btn3 {
    margin-top: 20px;
  }

  /* banner*/
  .banner {
    height: 200px;
    margin-bottom: 100px;
  }

  .banner p {
    width: initial;
    font-size: 40px;
  }
}

/* ////////////////////////////////// */

@media (max-width: 767.98px) {
  .pub .content {
    margin-top: 30px;
  }

  .pub_design {
    max-width: 100%;
    min-width: initial;
    margin-bottom: 60px;
  }

  .pub_design .list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: initial;
    text-align: center;
    margin-bottom: 60px;
  }

  .pub_design .list li {
    margin-bottom: 30px;
  }

  .list_title {
    text-align: center;
    margin-bottom: 30px;
  }

  .list_title h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .list_title h3 {
    font-size: 30px;
  }

  .pub_design .list li img {
    width: 100%;
  }

  .btns .btn3 {
    margin-top: 20px;
  }

  /* banner*/
  .banner {
    height: 160px;
    display: flex;
    text-align: center;
    margin-bottom: 60px;
  }

  .banner p {
    width: 100%;
    margin: 0 auto;
    font-size: 24px;
    color: #552a03;
    font-weight: 500;
  }
}
