.container .design .section1 {
  background-image: url(../imgs/design_main.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.design .section1 h1 {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 110%;
  font-size: 50px;
  color: #fff;
  font-weight: 300;
  margin-right: 12%;
}

/* section2 */

.section2,
.section4 {
  display: grid;
  justify-content: center;
  margin-top: 80px;
}

.section2 .title_box h2,
.section4 .title_box h2 {
  font-size: 30px;
  color: #8a8a8a;
  font-weight: 500;
  margin-bottom: 10px;
}

.section2 .title_box h3,
.section4 .title_box h3 {
  font-size: 60px;
  color: #31577c;
  font-weight: 500;
}

.section2 .img_box {
  margin-top: 100px;
}

.box1 ul li {
  overflow: hidden;
}

.box1 ul li img {
  transition: all 0.5s;
  cursor: pointer;
}

.box1 ul li img:hover {
  filter: brightness(50%);
  transform: scale(1.04);
}

.section2 .img_box .box1:nth-child(2) {
  margin-top: 140px;
}

.section2 .img_box .box1 ul {
  display: flex;
  gap: 30px;
}

.t_box {
  margin-left: 20px;
  width: 150px;
}

.img_title {
  display: flex;
  gap: 230px;
}

.t_box p:nth-child(1) {
  font-size: 30px;
  color: #31577c;
  margin-top: 10px;
  font-weight: 500;
}

.t_box p:nth-child(2) {
  font-size: 18px;
  color: #8a8a8a;
  font-weight: 500;
}

.btn_box .btn2 {
  margin-top: 20px;
  margin-right: 10px;
}

/* section3 */

.section3 {
  margin-top: 160px;
  background-image: url(../imgs/mid_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 260px;
}

.section3 p {
  padding-top: 105px;
  margin-left: 220px;
  font-size: 40px;
  color: #552a03;
  font-weight: 500;
}

/* section4 */

.section4 {
  height: 1420px;
}

.banner_list ul {
  margin-top: 80px;
  display: flex;
  gap: 106px;
}

.banner_list ul:nth-child(2) {
  margin-top: 160px;
}

.banner_list ul li p {
  margin-top: 20px;
  color: #305578;
  font-size: 30px;
}

.banner_list ul li img {
  cursor: pointer;
  transition: all 0.2s;
}

.banner_list ul li img:hover {
  filter: brightness(80%);
  transform: scale(1.04);
}

/* modal */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_close {
  width: 30%;
  height: 60%;
  cursor: pointer;
}
